body {
  background-image: url('../img/wordpress-wallpaper.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
}

#login h1 a, .login h1 a {
  background-image: url('../img/gutenberg-wordpress.png');
  height:100px;
  width:auto;
  background-size: 320px 65px;
  background-repeat: no-repeat;
  background-color: #fff;
  padding-bottom: 30px;
  background-size: contain;
  margin-bottom: 0px;
  border-radius: 30px 30px 0 0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

#login {
  width: 520px !important;
  box-shadow: 0px 4px 28px 4px rgb(0 0 0 / 50%);
  padding: 30px 0 50px 0 !important;
  margin-top: 100px !important;
  background-color: #fff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E3E3E3;
  border-radius: 30px;
}


#loginform {
        width: auto;
        border-radius: 0 0 30px 30px;
        border: none;
        margin-top: 0;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

#loginform .forgetmenot {
        display: block;
        width: 100%;
}

#loginform .submit,
#lostpasswordform .submit {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 50px;
}

#loginform .submit #wp-submit,
#lostpasswordform .submit #wp-submit {
        background-color: #2271b1;
        float: none;
        padding: 5px 35px;
        margin-top: 30px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
}
#loginform .submit #wp-submit:hover,
#lostpasswordform .submit #wp-submit:hover {
        background-color: #707070;
}

@media (max-width: 768px) {
        #login {
          width: 340px !important;
          padding: 20px 0 30px 0 !important;
          margin-top: 50px !important;
        }
        #login h1 a, .login h1 a {
          height: 50px;
        }
        .login form {
                padding: 0 20px;
        }
}  